POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=veriff
# format: postgresql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DB_NAME]
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/veriff
TEST_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/veriff_test
FACE_ENCODING_SERVICE_URL=http://localhost:8000
MAX_IMAGE_SIZE_BYTES=5242880
